<div id="company-header">
  <div class="main-color topbar-secondary" id="header-container"></div>
</div>

<div id="company-details" class="container has-secondary-topbar">
  <div id="company-exposure"></div>
  <div id="company-management"></div>
</div>
