<!-- Begin page -->
<div class="container">
  <div class="full-content-center">
    <p class="text-center margin-bottom"><img src="img/logo-icon.png" width="64" height="64" alt="Logo" class="center-block"></p>
    <p><h1 class="text-white1">Sustainalytics <span class="text-management">RiskAnalytics</span></h1></p>
    <div class="login-wrap">
      <div class="login-block text-center">
        <h2 class="text-white1 margin-bottom-double">Forgot Password</h2>
        <p class="text-darkgray">Enter your email address below to retrieve your password</p>
        <form>
          <div class="form-group login-input">
            <input type="email" id="email" name="email" class="form-control text-input form-management" placeholder="Email Address">
          </div>
          <button type="button" class="btn btn-sm btn-management btn-submit btn-round margin-top">Retrieve Password</button>
        </form>
      </div>
    </div>

  </div>
</div>
