<div class="text-center padding-bottom-double">
  <a href="javascript:;;" class="btn btn-sm btn-round btn-transparent total-risk">Total Risk</a>
  &nbsp;
  <a href="javascript:;;" class="btn btn-sm btn-round btn-transparent average-risk">Average Risk</a>
</div>

<div id="country-chart"></div>

<div class="padding-top-double">
  <div class="pull-left">
    <span class="legend">
      <i class="fa fa-square text-adjustedBaseline"></i>&nbsp; Company Risk
    </span>
  </div>

  <div class="pull-right">
    <a href="#" class="legend excel-export"><i class="ti-share"></i>&nbsp; Export Data</a>
    &nbsp;&nbsp;&nbsp;
    <a href="#" class="legend chart-export"><i class="ti-download"></i>&nbsp; Download Chart</a>
  </div>
  <div class="clearfix"></div>
</div>

<p class="padding-top-double">The map above illustrates ESG risk exposure by country. The size of the circle is determined by the combined ESG exposure for companies within the country. A larger diameter represents higher geographic risk exposure. Hover over the chart to view additional details.</p>
