<div id="industry-chart"></div>

<div class="padding-top-double">
  <div class="pull-left">

  </div>

  <div class="pull-right">
    <a href="#" class="legend excel-export"><i class="ti-share"></i>&nbsp; Export Data</a>
    &nbsp;&nbsp;&nbsp;
    <a href="#" class="legend chart-export"><i class="ti-download"></i>&nbsp; Download Chart</a>
  </div>
  <div class="clearfix"></div>
</div>

<p class="padding-top-double">The chart above illustrates total ESG risk exposure by industry. Total exposure is determined by the combined ESG exposure levels for all companies within an industry. The higher the area, the higher the industry risk exposure. View the number of companies within each industry, along with the average, total, highest, lowest ESG exposure values. Hover over the chart to view industry and company details.</p>
