<div class="main-color hidden-xs padding-top-double padding-bottom-double">
  <div class="container">
    <div class="margin-bottom-double">
      <div class="pull-left">
        <h2 class="title">{{ name }}</h2>
        <h2 class="title chart-title text-darkgray"></h2>
        </h2>
      </div>
      <div class="pull-right">
        <div class="btn-toolbar">
          <button type="button" data-exposure-type="portfolio" class="btn btn-round btn-transparent">Company</button>
          <button type="button" data-exposure-type="industry" class="btn btn-round btn-transparent">Industry</button>
          <button type="button" data-exposure-type="country" class="btn btn-round btn-transparent">Country</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div id="exposure-chart"></div>
  </div>
</div>

<div class="main-color visible-xs">
  <div class="container">
    <h2>ESG Risk Exposure</h2>
    <div class="clearfix">&nbsp;</div>
  </div>
</div>

<div class="container padding-top-double">
  <div id="exposure-list"></div>
</div>
