<div class="table-responsive">
	<table class="table table-hover company-table" id="companyListTable">
		<thead>
			<tr>
				<th data-sort="name">Name</th>
				<th data-sort="industry">Industry</th>
				<th data-sort="headquarterCountry">Domicile</th>
        <th data-sort="totalRisk" class="text-center">
					<span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Company Risk" data-content="Represents the potential business impact and reputational risk resulting from mismanaged environmental, social and governance (ESG) issues. This value takes into account the country, or countries, in which a company operates as well as company-specific incidents. Higher Company Risk signifies a higher likelihood of ESG-related challenges. Assessed on a scale of 1-10.">
            Company<br />Risk
          </span>
				</th>
        <th data-sort="adjustedBaselineImpact" class="text-center">
					<span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Market Risk" data-content="Represents the inherent risk or degree of impact that material ESG issues may have on a company operating within an industry, regardless of the location of operations.  Assessed on a scale of 1-10.">
            Market<br />Risk
          </span>
				</th>
        <th data-sort="industryGap" class="text-center">
					<span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Risk Premium" data-content="The Risk Premium represents the percent difference between the Market and Company Risks.">
            Risk<br />Premium
          </span>
				</th>
        <th data-sort="preparednessRating" class="text-center">
					<span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" title="ESG Management Performance" data-content="Represents how prepared a company is to manage ESG risks effectively, based on the extent of relevant policies, programmes and management systems. Scored on a scale of 1-10.">
						ESG Management<br />Score
	        </span>
				</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
