<div class="text-center padding-bottom-double">
  <a href="javascript:;;" class="btn btn-sm btn-round btn-transparent company-risk">Company Risk</a>
  &nbsp;
  <a href="javascript:;;" class="btn btn-sm btn-round btn-transparent risk-premium">Risk Premium</a>
</div>

<div id="chart"></div>

<div class="padding-top-double">
  <div class="pull-left">
    <div class="company-risk-legend">
      <span class="legend">
        <i class="fa fa-square text-adjustedBaseline"></i>&nbsp; Company Risk
      </span>
      &nbsp;&nbsp;&nbsp;
      <span class="legend">
        <i class="fa fa-square text-management"></i>&nbsp; ESG Management Score
      </span>
      &nbsp;&nbsp;&nbsp;
      <span class="legend">
        <i class="fa fa-circle"></i>&nbsp; Market Risk
      </span>
    </div>
    <div class="risk-premium-legend">
      <span class="legend">
        <i class="fa fa-square text-red-1"></i>&nbsp; Above Market
      </span>
      &nbsp;&nbsp;&nbsp;
      <span class="legend">
        <i class="fa fa-square text-green-1"></i>&nbsp; Below Market
      </span>
    </div>
  </div>

  <div class="pull-right">
    <a href="#" class="legend excel-export"><i class="ti-share"></i>&nbsp; Export Data</a>
    &nbsp;&nbsp;&nbsp;
    <a href="#" class="legend chart-export"><i class="ti-download"></i>&nbsp; Download Chart</a>
  </div>

  <div class="clearfix"></div>
</div>

<p class="padding-top-double">From an investment perspective, ESG risk is driven by the inherent exposure of a company to ESG issues and a company’s approach to the management of those issues. The chart above illustrates the ESG risk exposure facing portfolio companies and how prepared they are to manage risks.</p>
<p>To view more information about company ESG risk exposure click on any company within the bar chart or table below.</p>
