<div class="main-color hidden-xs padding-top-double padding-bottom-double">
    <div class="container">
        <div class="margin-bottom-double">
            <div class="text-center">
                <div class="btn-toolbar">
                  <button type="button" data-exposure-type="risk-rating" class="btn btn-round btn-transparent active">ESG Risk Rating</button>
                  <button type="button" data-exposure-type="sub-industry" class="btn btn-round btn-transparent">Sub-Industry Exposure</button>
                  <button type="button" data-exposure-type="country" class="btn btn-round btn-transparent">Country Exposure</button>
                  <button type="button" data-exposure-type="issues" class="btn btn-round btn-transparent">ESG Issue Exposure</button>
                  <button type="button" data-exposure-type="controversies" class="btn btn-round btn-transparent">Controversies</button>
                </div>
            </div>
        </div>

        <div id="exposure-chart">
          <div class="row">
            <div class="col-sm-9">
              <div id="heatmap" style="width:100%; height:500px;"></div>
            </div>
            <div class="col-sm-3">
              <div class="legend margin-top margin-bottom-half">ESG Risk Rating</div>
              <select class="form-control rounded">
                <option>-- All --</option>
              </select>

              <div class="legend margin-top margin-bottom-half">Country</div>
              <select class="form-control rounded">
                <option>-- All --</option>
                <option selected="selected">United States</option>
              </select>

              <div class="legend margin-top margin-bottom-half">Sub-Industry</div>
              <select class="form-control rounded">
                <option>-- All --</option>
              </select>

              <div class="legend margin-top margin-bottom-half">Risk Premium</div>
              <select class="form-control rounded">
                <option>-- All --</option>
              </select>

              <div class="legend margin-top margin-bottom-half">Procurement Category</div>
              <select class="form-control rounded">
                <option>-- All --</option>
              </select>

              <div class="legend margin-top margin-bottom-half">Relationship Value</div>
              <select class="form-control rounded">
                <option>-- All --</option>
              </select>

              <div class="text-right">
                <a href="#" class="btn btn-sm btn-primary btn-round margin-top" style="color:#FFF;">Apply Filters</a>
              </div>

            </div>
          </div>

        </div>
    </div>
</div>

<div class="container padding-top-double">
    <div id="exposure-list">
        <div>
            <div class="table-responsive">
                <table class="table table-hover company-table" id="companyListTable">
                    <thead>
                        <tr>
                            <th data-sort="name">Name</th>
                            <th data-sort="industry">Sub-Industry</th>
                            <th data-sort="headquarterCountry">Country</th>
                            <th data-sort="totalRisk" class="text-center">
                                <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Company Risk" data-content="Represents the potential business impact and reputational risk resulting from mismanaged environmental, social and governance (ESG) issues. This value takes into account the country, or countries, in which a company operates as well as company-specific incidents.&nbsp;Higher Company Risk signifies a higher likelihood of ESG-related challenges. Assessed on a scale of 110.">
                                  Company<br>Risk
                                </span>
                            </th>
                            <th data-sort="adjustedBaselineImpact" class="text-center">
                                <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Market Risk" data-content="Represents the inherent risk or degree of impact that material ESG issues may have on a company operating within an industry, regardless of the location of operations.&nbsp; Assessed on a scale of 110.">
                                  Market<br>Risk
                                </span>
                            </th>
                            <th data-sort="industryGap" class="text-center">
                                <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Risk Premium" data-content="The Risk Premium represents the percent difference between the Market and Company Risks.">
                                  Risk<br>Premium
                                </span>
                            </th>
                            <th data-sort="preparednessRating" class="text-center">
                                <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" title="ESG Management Performance" data-content="Represents how prepared a company is to manage ESG risks effectively, based on the extent of relevant policies, programmes and management systems. Scored on a scale of 110.">
                      						ESG Management<br>Score
                      	        </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="link ">Invacare Corp.</td>
                            <td class="link ">Health Care Equipment</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">4.27</td>
                            <td class="link text-center">3.29</td>
                            <td class="link text-center">
                                +30%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                4
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Outset Medical, Inc.</td>
                            <td class="link ">Health Care Equipment</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">3.9</td>
                            <td class="link text-center">3.29</td>
                            <td class="link text-center">
                                +19%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                4.75
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Stryker Corporation</td>
                            <td class="link ">Health Care Equipment</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">3.9</td>
                            <td class="link text-center">3.29</td>
                            <td class="link text-center">
                                +19%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/34" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">CrowdStrike, Inc.</td>
                            <td class="link ">Internet Software &amp; Services</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">4.01</td>
                            <td class="link text-center">3.41</td>
                            <td class="link text-center">
                                +18%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                5.36
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">RehabCare Group, Inc.</td>
                            <td class="link ">Health Care Services</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">4.24</td>
                            <td class="link text-center">3.65</td>
                            <td class="link text-center">
                                +16%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/30" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Mylan, Inc.</td>
                            <td class="link ">Biotechnology</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">4.56</td>
                            <td class="link text-center">4.02</td>
                            <td class="link text-center">
                                +13%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/28" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Avalara Inc</td>
                            <td class="link ">Application Software</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">3.38</td>
                            <td class="link text-center">3.05</td>
                            <td class="link text-center">
                                +11%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="#" class="btn btn-sm btn-round btn-white engage">Select for Engagement</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Nimble Storage</td>
                            <td class="link ">Data Processing &amp; Outsourced Services</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">3.38</td>
                            <td class="link text-center">3.05</td>
                            <td class="link text-center">
                                +11%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/36" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Sempra Energy</td>
                            <td class="link ">Oil &amp; Gas Storage &amp; Transportation</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">5.42</td>
                            <td class="link text-center">5.22</td>
                            <td class="link text-center">
                                +4%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="#" class="btn btn-sm btn-round btn-white engage">Select for Engagement</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Hawkwood Energy LLC</td>
                            <td class="link ">Oil &amp; Gas Drilling</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">4.34</td>
                            <td class="link text-center">4.26</td>
                            <td class="link text-center">
                                +2%
                                <i class=" ti-arrow-up text-red1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/27" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">DBRS, Ltd.</td>
                            <td class="link ">Other Diversified Financial Services</td>
                            <td class="link ">Canada</td>
                            <td class="link text-center">5.53</td>
                            <td class="link text-center">5.58</td>
                            <td class="link text-center">
                                1%
                                <i class=" ti-arrow-down text-green1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/23" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Telus</td>
                            <td class="link ">Integrated Telecommunication Services</td>
                            <td class="link ">United States</td>
                            <td class="link text-center">4.8</td>
                            <td class="link text-center">4.86</td>
                            <td class="link text-center">
                                1%
                                <i class=" ti-arrow-down text-green1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="#" class="btn btn-sm btn-round btn-white engage">Select for Engagement</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Endurance Energy</td>
                            <td class="link ">Oil &amp; Gas Exploration &amp; Production</td>
                            <td class="link ">Canada</td>
                            <td class="link text-center">4.95</td>
                            <td class="link text-center">5.34</td>
                            <td class="link text-center">
                                -7%
                                <i class=" ti-arrow-down text-green1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="#" class="btn btn-sm btn-round btn-white engage">Select for Engagement</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Black Swan Energy, Ltd.</td>
                            <td class="link ">Oil &amp; Gas Exploration &amp; Production</td>
                            <td class="link ">Canada</td>
                            <td class="link text-center">4.91</td>
                            <td class="link text-center">5.34</td>
                            <td class="link text-center">
                                -8%
                                <i class=" ti-arrow-down text-green1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/31" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="link ">Centerra Gold, Inc.</td>
                            <td class="link ">Diversified Metals &amp; Mining</td>
                            <td class="link ">Canada</td>
                            <td class="link text-center">5.9</td>
                            <td class="link text-center">6.55</td>
                            <td class="link text-center">
                                10%
                                <i class=" ti-arrow-down text-green1 "></i>
                            </td>
                            <td class="text-center">
                                <a href="/#/assessments/view/29" class="btn btn-sm btn-round btn-management-stroke">Continue Assessment</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
