<div class="row">
  <div class="col-xs-6">
    <h4 class="no-margin">{{ name }}</h4>
    <span>{{ sector }}</span>
  </div>
  <div class="col-xs-6 text-right">
    <h4>{{ rrr }}</h4>
    <div style="font-size:9px;">
      <a href="#">Save Company</a> &nbsp;|&nbsp; <a href="#">Add to Watchlist</a>
    </div>
  </div>
</div>
