<!-- Left Sidebar Start -->
<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">

    <div class="text-center hidden">
      <a href="#" class="link-home text-white1 first">
        SUSTAINALYTICS
        <span class="text-management">SUPPLY CHAIN</span>
      </a>
    </div>

    <div class="clearfix"></div>

    <div id="sidebar-menu">
      <ul>
        <li class="has_sub subdrop active">
          <a href="/#/exposure" onclick="return false;">
            <i class="ti-bar-chart"></i>
            <div>Dashboard</div>
          </a>
          <ul style="display:block;">
            <li><a href="/#/exposure/1" class="active"><span>Direct Suppliers</span></a></li>
            <li><a href="/#/exposure/2" class=""><span>Indirect Suppliers</span></a></li>
            <li><a href="/#/exposure/3" class=""><span>Prospective Suppliers</span></a></li>
            <li><a href="/#/exposure/7"><span>My Watchlist</span></a></li>
          </ul>
        </li>
        <li>
          <a href="/#/engagement">
            <i class="ti-check-box"></i>
            <div>Company<br>Engagement</div>
          </a>
        </li>
        <li class="">
          <a href="/#/portfolio">
            <i class="ti-layout-grid3"></i>
            <div>Portfolio<br>Management</div>
          </a>
        </li>
        <li>
          <a href="/#/news">
            <i class="ti-world"></i>
            <div>News &amp;<br>Incidents</div>
          </a>
        </li>
        <li>
          <a href="/#/resources">
            <i class="ti-help-alt"></i>
            <div>Resources</div>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- Left Sidebar End -->
