<div class="main-color topbar-secondary">
  <div class="container padding-top-double padding-bottom-double">
    <h2>Company Engagement</h2>
  </div>
</div>

<div class="container has-secondary-topbar padding-top-double padding-bottom-double">
  <div class="text-center margin-top-double">
    <div class="margin-bottom-double">
      <i class="ti-check-box huge-icon"></i>
    </div>
    <h3 class="text-black margin-bottom">No companies have been selected for engagement at this time.</h3>
    <p class="text-darkgray margin-bottom-double">By engaging with selected companies in your portfolio you will be able to gain greater insight from an ESG Management point of view that compliments the risk exposure analysis.</p>
    <a href="/#/portfolio" class="btn btn-round btn-white">Select Companies</a>
  </div>
</div>
