<div id="company-header">
  <div class="main-color topbar-secondary" id="header-container">
    <div>
      <div class="container">
        <div class="row margin-bottom">
          <div class="col-sm-3">
            <h2>AAC Technologies Inc.</h2>
            <div class="margin-top-half">Technology Hardware, Storage &amp; Peripherals</div>
            <div>32,172 Employees</div>

            <div class="text-center">
              <div class="margin-top">
                <a href="#" class="btn btn-white btn-sm btn-round">Begin Engagement</a>
              </div>
              <div class="margin-top-half">
                <a href="#" class="text-white1 thin small">ADD TO WATCHLIST</a>
              </div>
            </div>
          </div>

          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-11">
                        <h4 class="no-margin">ESG Exposure</h4>
                        <div class="ratings">
                          <div class="left pull-left">
                            <span class="big-number text-white1 thin">5.68</span>
                          </div>
                          <div class="right">
                            <div class="pull-left label-small">Low</div>
                            <div class="pull-right label-small">High</div>

                            <div class="clearfix">&nbsp;</div>

                            <div class="bars">
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-adjustedBaseline" role="progressbar" aria-valuenow="56.8" aria-valuemin="0" aria-valuemax="100" style="width: 56.8%">
                                  <span class="sr-only">56.8</span>
                                </div>
                              </div>
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="53.4" aria-valuemin="0" aria-valuemax="100" style="width: 53.4%">
                                  <span class="sr-only">53.4</span>
                                </div>
                              </div>
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-transparent" role="progressbar" aria-valuenow="53.4" aria-valuemin="0" aria-valuemax="100" style="width: 53.4%">
                                  <span class="sr-only">53.4</span>
                                </div>
                                <div class="progress-bar  progress-bar-red1 " role="progressbar" aria-valuenow="3.3999999999999986" aria-valuemin="0" aria-valuemax="100" style="width: 3.3999999999999986%">
                                  <span class="sr-only">3.3999999999999986</span>
                                </div>
                              </div>
                            </div>

                            <div class="pull-left label-small">
                              <span class="text-white1 label-large">5.34</span>
                              <span class="label-xs"><i class="fa fa-square"></i></span>
                              <div style="display:inline-flex;">Market
                                <br>Risk</div>
                            </div>
                            <div class="pull-right label-small">
                              <span class="text-white1 label-large">+6.00%</span>
                              <span class="label-xs"><i class=" text-red1  fa fa-square"></i></span>
                              <div style="display:inline-flex;">Risk
                                <br>Premium</div>
                            </div>

                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-11">
                        <h4 class="no-margin">ESG Management</h4>
                        <div class="margin-top">
                          <div class="ratings">
                            <div class="left pull-left">
                              <span class="big-number text-white1 thin">
                                            57.4
                                          </span>
                            </div>
                            <div class="right">
                              <div class="pull-left label-small">Low</div>
                              <div class="pull-right label-small">High</div>

                              <div class="clearfix">&nbsp;</div>

                              <div class="bars">
                                <div class="progress progress-xs transparent">
                                  <div class="progress-bar progress-bar-management" role="progressbar" aria-valuenow="57.4" aria-valuemin="0" aria-valuemax="100" style="width: 57.4%">
                                    <span class="sr-only">57.4</span>
                                  </div>
                                </div>
                                <div class="progress progress-xs transparent">
                                  <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="33.9" aria-valuemin="0" aria-valuemax="100" style="width: 33.9%">
                                    <span class="sr-only">33.9</span>
                                  </div>
                                </div>
                              </div>

                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-transparent" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                  <span class="sr-only">0</span>
                                </div>
                              </div>

                              <div class="pull-left label-small">
                                <span class="text-white1 label-large">33.9</span>
                                <span class="label-xs"><i class="fa fa-square"></i></span>
                                <div style="display:inline-flex;">Peer
                                  <br>Benchmark</div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix">&nbsp;</div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-3">
                <h4 class="no-margin">Highest Controversy</h4>
                <div class="margin-top">
                  <div class="ratings">
                    <div class="left pull-left" style="width:54px;">
                      <span class="big-number text-white1 thin">2</span>
                    </div>
                    <div class="right">
                      <div class="label-small margin-top-half">Category</div>
                      <div class="label-medium">Moderate</div>

                      <div class="margin-top-double small">
                        LOCATION: Oregon, USA<br />
                        DATE: April 17, 2016
                      </div>
                    </div>
                  </div>
                  <div class="clearfix">&nbsp;</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="company-details" class="container has-secondary-topbar" style="margin-top: 239px;">

  <div class="margin-top-double margin-bottom-double">
    <div class="text-center">
        <div class="btn-toolbar">
          <button type="button" data-exposure-type="overview" class="btn btn-round btn-none">Company Overview</button>
          <button type="button" data-exposure-type="exposure" class="btn btn-round btn-none active">ESG Exposure</button>
          <button type="button" data-exposure-type="management" class="btn btn-round btn-none">ESG Management</button>
          <button type="button" data-exposure-type="controversies" class="btn btn-round btn-none">Controversies</button>
        </div>
    </div>
  </div>

  <div id="company-exposure">
    <div class="margin-top-double">
      <div class="row">
        <div class="col-sm-8">
          <h2>Key ESG Issues Overview</h2>
          <p>Each industry is exposed to a unique set of material ESG issues of varying significance. The Key ESG Issues below represent the most relevant ESG issue areas that, if mismanaged, may negatively impact financial performance and business value.</p>
        </div>
        <div class="col-sm-4 text-right">
          <div class="margin-top">
            <a href="#" class="export-excel legend text-darkgray">
              <i class="ti-share"></i>&nbsp;&nbsp;Export Company Profile
            </a>
          </div>
        </div>
      </div>

      <div class="row margin-top-double">
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <th>Key ESG Issue</th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Market Risk" data-content="Represents the inherent risk or degree of impact that material ESG issues may have on a company operating within an industry, regardless of the location of operations.&nbsp; Assessed on a scale of 1-10.">
              Market<br>Risk
            </span>
                </th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Company Risk" data-content="Represents the potential business impact and reputational risk resulting from mismanaged environmental, social and governance (ESG) issues. This value takes into account the country, or countries, in which a company operates as well as company-specific incidents.&nbsp;Higher Company Risk signifies a higher likelihood of ESG-related challenges. Assessed on a scale of 1-10.">
              Company<br>Risk
            </span>
                </th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Risk Premium" data-content="The Risk Premium represents the percent difference between the Market and Company Risks.">
              Risk<br>Premium
            </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor0"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Human Capital " data-content="Human Capital issues focus on the management of labour relations and/or the management of business risks as a result of demographic changes, notably worker skill shortages. Depending on the industry, the emphasis can be more on the former (e.g. retailing) or the latter (e.g. machinery) or both. This issue category may also include the management of core labour rights such as freedom of association and non-discrimination. ">
                Human Capital
              </span>
                </td>
                <td class="text-center">7</td>
                <td class="text-center">9.44</td>
                <td class="text-center">
                  <i class=" ti-arrow-up text-red1 "></i> +34.80%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor1"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Supply Chain" data-content="Supply Chain issues focus on how companies manage social and/or environmental impacts within their supply chain. Social topics include labour rights and working conditions, including child and forced labour, as well as conflict minerals. Environmental topics include energy efficiency, eco-efficiency and sustainable sourcing.">
                Supply Chain
              </span>
                </td>
                <td class="text-center">6</td>
                <td class="text-center">6</td>
                <td class="text-center">
                  <i class=" ti-arrow-down text-green-1 "></i> 0.00%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor2"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="" data-content="Energy Use and GHG Emissions issues focus on the management of energy use and GHG emissions from operations, including transportation and logistics, as well as the regulatory and market risks of climate change regulations. Depending on the industry, the emphasis is put on topics such as energy consumption, energy efficiency and/or energy mix, as well as regulatory risks related to climate change."
                    data-original-title="Energy Use and GHG Emissions">
                Energy Use and GHG Emissions
              </span>
                </td>
                <td class="text-center">4</td>
                <td class="text-center">5.4</td>
                <td class="text-center">
                  <i class=" ti-arrow-up text-red1 "></i> +35.00%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor3"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Water Use" data-content="Water Use issues focus on the management of water use and reporting of risks related to water scarcity throughout the company's operations or supply chain. Depending on the industry, the emphasis is put on the former, the latter or both dimensions. The issues focus on the use of water as a raw material, not on the treatment and management of process water, which is covered under Emissions, Releases and Waste.  ">
                Water Use
              </span>
                </td>
                <td class="text-center">6</td>
                <td class="text-center">5.4</td>
                <td class="text-center">
                  <i class=" ti-arrow-down text-green-1 "></i> -10.00%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor4"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Data Privacy and Security" data-content="Data Privacy and Security issues focus on how companies collect, use, manage, and protect personal information and metadata collected from data subjects. Emphasis is put on measures taken to ensure safe and secure use and/or secure maintenance of personal data including, but not limited to, those required to comply with relevant legislation. In some sectors, this includes managing the risks associated with government data requests that may result in persecution and violations of civil and political rights. ">
                Data Privacy and Security
              </span>
                </td>
                <td class="text-center">5</td>
                <td class="text-center">5.38</td>
                <td class="text-center">
                  <i class=" ti-arrow-up text-red1 "></i> +7.50%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor5"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Bribery and Corruption" data-content="Bribery and Corruption issues focus on the management of risks related to potentially illegal payments, such as kickbacks, bribes and facilitation payments to government officers, as well as the receipt of those payments from suppliers or business partners. In the extractive industry, the topic also covers adoption of relevant transparency standards with regards to payments to host governments in the form of taxes and royalties.">
                Bribery and Corruption
              </span>
                </td>
                <td class="text-center">5</td>
                <td class="text-center">5.07</td>
                <td class="text-center">
                  <i class=" ti-arrow-up text-red1 "></i> +1.40%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor6"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Emissions, Effluents and Waste" data-content="Emissions Effluents and Waste issues focus on the management of emissions and releases from operations to air, water and land, excluding GHG emissions. Depending on the industry, the emphasis is put on one or several of these three 'waste streams'. Management of shipwrecking is also covered under this ESG issue as well as nuclear waste.">
                Emissions, Effluents and Waste
              </span>
                </td>
                <td class="text-center">3</td>
                <td class="text-center">3.68</td>
                <td class="text-center">
                  <i class=" ti-arrow-up text-red1 "></i> +22.80%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor7"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Health and Safety" data-content="Health and Safety issues focus on the management of health and safety amongst employees and contractors. Depending on the industry and where relevant, topics may also include HIV/Aids programmes. ">
                Health and Safety
              </span>
                </td>
                <td class="text-center">3</td>
                <td class="text-center">3.68</td>
                <td class="text-center">
                  <i class=" ti-arrow-up text-red1 "></i> +22.80%
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor8"></i> &nbsp;&nbsp;
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Product Sustainability" data-content="Product Sustainability issues focus on the management of social, health or environmental impacts of products or services that are inherent to the product or service. Depending on the industry, topics may include recycling, reuse, eco-design, the health impact of fast food or tobacco, environmental or social performance metrics of products, social exclusion, etc.">
                Product Sustainability
              </span>
                </td>
                <td class="text-center">6</td>
                <td class="text-center">1.8</td>
                <td class="text-center">
                  <i class=" ti-arrow-down text-green-1 "></i> -70.00%
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-center">

          </div>
        </div>
        <div class="col-sm-6 text-center">
          <div id="country-sector-exposure-chart" data-highcharts-chart="0">
            <div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 465px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <svg version="1.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="465" height="400">
                <desc>Created with Highcharts 4.1.9</desc>
                <defs>
                  <clipPath id="highcharts-1">
                    <rect x="0" y="0" width="445" height="375"></rect>
                  </clipPath>
                </defs>
                <rect x="0" y="0" width="465" height="400" strokeWidth="0" fill="#FFFFFF" class=" highcharts-background"></rect>
                <g class="highcharts-grid" zIndex="1">
                  <path fill="none" d="M 232.5 197.5 L 287.0094603425285 47.73648856224585" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 370.5227987281449 117.8125" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 389.45373563632063 225.17517831566704" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 334.9442752937922 319.5883331220871" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 232.5 356.875" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 130.0557247062078 319.58833312208714" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 75.54626436367934 225.175178315667" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 94.47720127185511 117.81249999999999" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 177.99053965747146 47.73648856224588" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 287.00946034252837 47.736488562245825" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 197.5 L 177.99053965747154 47.73648856224585" stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                </g>
                <g class="highcharts-grid" zIndex="1">
                  <path fill="none" stroke="#EEEEEE" stroke-width="1" zIndex="1"></path>
                  <path fill="none" d="M 232.5 165.625 A 31.875 31.875 0 1 1 232.4681250053125 165.62501593749866 M 232.5 197.5 A 0 0 0 1 0 232.5 197.5 " stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 133.75 A 63.75 63.75 0 1 1 232.43625001062497 133.75003187499735 M 232.5 197.5 A 0 0 0 1 0 232.5 197.5 " stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 101.875 A 95.625 95.625 0 1 1 232.40437501593746 101.87504781249602 M 232.5 197.5 A 0 0 0 1 0 232.5 197.5 " stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 70 A 127.5 127.5 0 1 1 232.37250002124992 70.00006374999468 M 232.5 197.5 A 0 0 0 1 0 232.5 197.5 " stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                  <path fill="none" d="M 232.5 38.125 A 159.375 159.375 0 1 1 232.3406250265624 38.125079687493354 M 232.5 197.5 A 0 0 0 1 0 232.5 197.5 " stroke="#EEEEEE" stroke-width="1" zIndex="1" opacity="1"></path>
                </g>
                <g class="highcharts-axis" zIndex="2">
                  <path fill="none" d="M 232.5 38.125 A 159.375 159.375 0 1 1 232.3406250265624 38.125079687493354 M 232.5 197.5 A 0 0 0 1 0 232.5 197.5 " stroke="#EEEEEE" stroke-width="1" zIndex="7" visibility="visible"></path>
                </g>
                <g class="highcharts-axis" zIndex="2"></g>
                <g class="highcharts-series-group" zIndex="3">
                  <g class="highcharts-series highcharts-series-0 highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)" style="" clip-path="url(#highcharts-1)">
                    <path fill="#75e246" d="M 222.5 37.05000000000001 A 150.45 150.45 0 0 1 319.09209615638724 72.15196377867875 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#dff44c" d="M 283.9665651762753 114.24700012674772 A 95.625 95.625 0 0 1 316.6555891914537 170.80072908746615 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#feef4f" d="M 307.25501724361317 172.5554037095398 A 86.0625 86.0625 0 0 1 297.0753052898738 230.45669618548564 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#fecc4f" d="M 297.03231131319825 230.53125 A 86.0625 86.0625 0 0 1 252.01596615010996 268.34282063656343 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#fea94f" d="M 251.82608966428032 268.07276915351173 A 85.74374999999999 85.74374999999999 0 0 1 193.25449775448803 268.1020549519071 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#fe774f" d="M 194.86370360633808 263.4301002989414 A 80.80312500000001 80.80312500000001 0 0 1 152.5628775893735 227.97151984651268 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#ef4a62" d="M 171.70761006804267 216.82500000000002 A 58.650000000000006 58.650000000000006 0 0 1 164.7308697013962 177.3732984371546 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#dc44c8" d="M 164.74102528583398 177.31553437983456 A 58.650000000000006 58.650000000000006 0 0 1 184.75559704252868 142.60921536234824 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                    <path fill="#8944db" d="M 204.0600304471174 165.52410003802433 A 28.6875 28.6875 0 0 1 222.47131250478122 158.8125143437488 L 222.5 187.5 A 0 0 0 0 0 222.5 187.5 Z" r="0"></path>
                  </g>
                  <g class="highcharts-markers highcharts-series-0" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)" clip-path="none"></g>
                  <g class="highcharts-series highcharts-series-1" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)" clip-path="url(#highcharts-1)">
                    <path fill="none" d="M 260.65662223976994 82.6655419935721 L 305.31367923688697 139.6875 L 285.28149425452824 198.5700713262668 L 283.96656517627537 260.7529998732523 L 222.5 267.1875 L 171.2778623531039 248.54416656104354 L 175.4138793091038 195.80255349470013 L 181.09316038155652 163.59375000000003 L 189.79432379448286 97.64189313734752 L 260.65662223976994 82.6655419935721"
                      zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path>
                    <path fill="none" d="M 250.65662223976994 82.6655419935721 L 260.65662223976994 82.6655419935721 L 305.31367923688697 139.6875 L 285.28149425452824 198.5700713262668 L 283.96656517627537 260.7529998732523 L 222.5 267.1875 L 171.2778623531039 248.54416656104354 L 175.4138793091038 195.80255349470013 L 181.09316038155652 163.59375000000003 L 189.79432379448286 97.64189313734752 L 260.65662223976994 82.6655419935721 L 270.65662223976994 82.6655419935721"
                      stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="20" zIndex="2" class=" highcharts-tracker" style=""></path>
                  </g>
                  <g class="highcharts-markers highcharts-series-1 highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(10,10) scale(1 1)" style="" clip-path="none">
                    <path fill="#B3B3B3" d="M 189 93.64189313734752 C 194.328 93.64189313734752 194.328 101.64189313734752 189 101.64189313734752 C 183.672 101.64189313734752 183.672 93.64189313734752 189 93.64189313734752 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 181 159.59375000000003 C 186.328 159.59375000000003 186.328 167.59375000000003 181 167.59375000000003 C 175.672 167.59375000000003 175.672 159.59375000000003 181 159.59375000000003 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 175 191.80255349470013 C 180.328 191.80255349470013 180.328 199.80255349470013 175 199.80255349470013 C 169.672 199.80255349470013 169.672 191.80255349470013 175 191.80255349470013 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 171 244.54416656104354 C 176.328 244.54416656104354 176.328 252.54416656104354 171 252.54416656104354 C 165.672 252.54416656104354 165.672 244.54416656104354 171 244.54416656104354 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 222 263.1875 C 227.328 263.1875 227.328 271.1875 222 271.1875 C 216.672 271.1875 216.672 263.1875 222 263.1875 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 283 256.7529998732523 C 288.328 256.7529998732523 288.328 264.7529998732523 283 264.7529998732523 C 277.672 264.7529998732523 277.672 256.7529998732523 283 256.7529998732523 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 285 194.5700713262668 C 290.328 194.5700713262668 290.328 202.5700713262668 285 202.5700713262668 C 279.672 202.5700713262668 279.672 194.5700713262668 285 194.5700713262668 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 305 135.6875 C 310.328 135.6875 310.328 143.6875 305 143.6875 C 299.672 143.6875 299.672 135.6875 305 135.6875 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                    <path fill="#B3B3B3" d="M 260 78.6655419935721 C 265.328 78.6655419935721 265.328 86.6655419935721 260 86.6655419935721 C 254.672 86.6655419935721 254.672 78.6655419935721 260 78.6655419935721 Z" stroke="rgba(255,255,255,0.5)" stroke-width="2"></path>
                  </g>
                </g>
                <g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7"></g>
                <g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7"></g>
                <g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;pointer-events:none;white-space:nowrap;" transform="translate(0,-9999)">
                  <path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.049999999999999996"
                    stroke-width="5" transform="translate(1, 1)"></path>
                  <path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.09999999999999999"
                    stroke-width="3" transform="translate(1, 1)"></path>
                  <path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.15" stroke-width="1"
                    transform="translate(1, 1)"></path>
                  <path fill="rgba(249, 249, 249, .85)" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"></path>
                  <text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="20"></text>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="row margin-top">
        <div class="col-sm-6">
          <a href="#" class="widget-toggle-link" data-target="issues">
            <h2><i class="circle-icon ti-plus"></i>&nbsp; Beta Factors Analysis</h2>
          </a>
        </div>
      </div>
      <div class="widget no-margin" data-id="issues">
        <div class="widget-content" style="display:none;">
          <div class="row">
            <div class="col-sm-8">
              <p class="margin-bottom-double" style="padding-left:26px;">
                The country, or countries, in which a company operates have a large influence on the level of ESG risk exposure. Beta factors are applied to each Key ESG Issue to determine whether ESG risk increases or decreases when location is taken into account. Additionally,
                news of a company’s alleged or actual misconduct with ESG implications may increase exposure at the Key ESG level relative to the significance of the incident.
              </p>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Key ESG Issue</th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Market Risk" data-content="Represents the inherent risk or degree of impact that material ESG issues may have on a company operating within an industry, regardless of the location of operations.&nbsp; Assessed on a scale of 1-10.">
            Market<br>Risk
          </span>
                </th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Company Risk" data-content="Represents the potential business impact and reputational risk resulting from mismanaged environmental, social and governance (ESG) issues. This value takes into account the country, or countries, in which a company operates as well as company-specific incidents.&nbsp;Higher Company Risk signifies a higher likelihood of ESG-related challenges. Assessed on a scale of 1-10.">
            Company<br>Risk
          </span>
                </th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Risk Premium" data-content="The Risk Premium represents the percent difference between the Market and Company Risks.">
            Risk<br>Premium
          </span>
                </th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Domicilie Risk Adjustment" data-content="Exposure to ESG risks may be influenced by the country of domicile. The values below include the adjusted exposure score and percentage change from the market risk baseline.">
            Domicilie<br>Risk Adjustment
          </span>
                  <!-- <br /><em>United States</em> -->
                </th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Assets Location Risk Adjustment" data-content="Exposure to ESG risks may be influenced by the country in which the majority of company assets are located (e.g. manufacturing facilities). The values below include the adjusted exposure score and percentage change from the market risk baseline.">
            Assets Location<br>
            Risk Adjustment
          </span>
                  <!-- <br /><em>China</em> -->
                </th>
                <th class="text-center">
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" title="Revenue Segmentation Risk Adjustment" data-content="Exposure to ESG risks may be influenced by the country with the highest level of sales revenue. The values below include the adjusted exposure score and percentage change from the market risk baseline.">
            Revenue Segmentation<br>
            Risk Adjustment
          </span>
                  <!-- <br /><em>United States</em> -->
                </th>
                <!-- <th class="text-center">
          Country Weight
          <a tabindex="0" class="popover-icon" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" title="Country Weight" data-content="Represents the weight of the country adjusted values for the overall exposure score (as a percentage).">
            <i class="ti-help-alt"></i>
          </a>
        </th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor0"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Human Capital " data-content="Human Capital issues focus on the management of labour relations and/or the management of business risks as a result of demographic changes, notably worker skill shortages. Depending on the industry, the emphasis can be more on the former (e.g. retailing) or the latter (e.g. machinery) or both. This issue category may also include the management of core labour rights such as freedom of association and non-discrimination. ">
                Human Capital
              </span>
                </td>
                <td class="text-center">7</td>
                <td class="text-center">9.44</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-up text-red1 "></i> +34.80%
                </td>
                <td class="text-center">
                  7.84 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +12.00%
                </td>
                <td class="text-center">
                  10.5 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +50.00%
                </td>
                <td class="text-center">
                  -
                </td>
                <!-- <td class="text-center">40 | 60 | 0</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor1"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Supply Chain" data-content="Supply Chain issues focus on how companies manage social and/or environmental impacts within their supply chain. Social topics include labour rights and working conditions, including child and forced labour, as well as conflict minerals. Environmental topics include energy efficiency, eco-efficiency and sustainable sourcing.">
                Supply Chain
              </span>
                </td>
                <td class="text-center">6</td>
                <td class="text-center">6</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-down text-green-1 "></i> 0.00%
                </td>
                <td class="text-center">
                  6 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; 0.00%
                </td>
                <td class="text-center">
                  -
                </td>
                <td class="text-center">
                  -
                </td>
                <!-- <td class="text-center">100 | 0 | 0</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor2"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Energy Use and GHG Emissions" data-content="Energy Use and GHG Emissions issues focus on the management of energy use and GHG emissions from operations, including transportation and logistics, as well as the regulatory and market risks of climate change regulations. Depending on the industry, the emphasis is put on topics such as energy consumption, energy efficiency and/or energy mix, as well as regulatory risks related to climate change.">
                Energy Use and GHG Emissions
              </span>
                </td>
                <td class="text-center">4</td>
                <td class="text-center">5.4</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-up text-red1 "></i> +35.00%
                </td>
                <td class="text-center">
                  6 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +50.00%
                </td>
                <td class="text-center">
                  5 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +25.00%
                </td>
                <td class="text-center">
                  -
                </td>
                <!-- <td class="text-center">40 | 60 | 0</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor3"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Water Use" data-content="Water Use issues focus on the management of water use and reporting of risks related to water scarcity throughout the company's operations or supply chain. Depending on the industry, the emphasis is put on the former, the latter or both dimensions. The issues focus on the use of water as a raw material, not on the treatment and management of process water, which is covered under Emissions, Releases and Waste.  ">
                Water Use
              </span>
                </td>
                <td class="text-center">6</td>
                <td class="text-center">5.4</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-down text-green-1 "></i> -10.00%
                </td>
                <td class="text-center">
                  4.5 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; -25.00%
                </td>
                <td class="text-center">
                  6 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; 0.00%
                </td>
                <td class="text-center">
                  -
                </td>
                <!-- <td class="text-center">40 | 60 | 0</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor4"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Data Privacy and Security" data-content="Data Privacy and Security issues focus on how companies collect, use, manage, and protect personal information and metadata collected from data subjects. Emphasis is put on measures taken to ensure safe and secure use and/or secure maintenance of personal data including, but not limited to, those required to comply with relevant legislation. In some sectors, this includes managing the risks associated with government data requests that may result in persecution and violations of civil and political rights. ">
                Data Privacy and Security
              </span>
                </td>
                <td class="text-center">5</td>
                <td class="text-center">5.38</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-up text-red1 "></i> +7.50%
                </td>
                <td class="text-center">
                  5 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; 0.00%
                </td>
                <td class="text-center">
                  6.25 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +25.00%
                </td>
                <td class="text-center">
                  5 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; 0.00%
                </td>
                <!-- <td class="text-center">40 | 30 | 30</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor5"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Bribery and Corruption" data-content="Bribery and Corruption issues focus on the management of risks related to potentially illegal payments, such as kickbacks, bribes and facilitation payments to government officers, as well as the receipt of those payments from suppliers or business partners. In the extractive industry, the topic also covers adoption of relevant transparency standards with regards to payments to host governments in the form of taxes and royalties.">
                Bribery and Corruption
              </span>
                </td>
                <td class="text-center">5</td>
                <td class="text-center">5.07</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-up text-red1 "></i> +1.40%
                </td>
                <td class="text-center">
                  3.75 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; -25.00%
                </td>
                <td class="text-center">
                  6.9 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +38.00%
                </td>
                <td class="text-center">
                  5 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; 0.00%
                </td>
                <!-- <td class="text-center">40 | 30 | 30</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor6"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Emissions, Effluents and Waste" data-content="Emissions Effluents and Waste issues focus on the management of emissions and releases from operations to air, water and land, excluding GHG emissions. Depending on the industry, the emphasis is put on one or several of these three 'waste streams'. Management of shipwrecking is also covered under this ESG issue as well as nuclear waste.">
                Emissions, Effluents and Waste
              </span>
                </td>
                <td class="text-center">3</td>
                <td class="text-center">3.68</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-up text-red1 "></i> +22.80%
                </td>
                <td class="text-center">
                  3 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; 0.00%
                </td>
                <td class="text-center">
                  4.14 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +38.00%
                </td>
                <td class="text-center">
                  -
                </td>
                <!-- <td class="text-center">40 | 60 | 0</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor7"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Health and Safety" data-content="Health and Safety issues focus on the management of health and safety amongst employees and contractors. Depending on the industry and where relevant, topics may also include HIV/Aids programmes. ">
                Health and Safety
              </span>
                </td>
                <td class="text-center">3</td>
                <td class="text-center">3.68</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-up text-red1 "></i> +22.80%
                </td>
                <td class="text-center">
                  3 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; 0.00%
                </td>
                <td class="text-center">
                  4.14 &nbsp;
                  <i class=" ti-arrow-up text-red1 "></i>&nbsp; +38.00%
                </td>
                <td class="text-center">
                  -
                </td>
                <!-- <td class="text-center">40 | 60 | 0</td> -->
              </tr>
              <tr>
                <td>
                  <i class="fa fa-circle text-chartcolor8"></i> &nbsp;&nbsp;
                  <span tabindex="0" class="popover-text" role="button" data-toggle="popover" data-trigger="focus" title="Product Sustainability" data-content="Product Sustainability issues focus on the management of social, health or environmental impacts of products or services that are inherent to the product or service. Depending on the industry, topics may include recycling, reuse, eco-design, the health impact of fast food or tobacco, environmental or social performance metrics of products, social exclusion, etc.">
                Product Sustainability
              </span>
                </td>
                <td class="text-center">6</td>
                <td class="text-center">1.8</td>
                <td class="text-center" style="border-right:1px dashed #DDD;">
                  <i class=" ti-arrow-down text-green-1 "></i> -70.00%
                </td>
                <td class="text-center">
                  0 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; -100.00%
                </td>
                <td class="text-center">
                  -
                </td>
                <td class="text-center">
                  3 &nbsp;
                  <i class=" ti-arrow-down text-green-1 "></i>&nbsp; -50.00%
                </td>
                <!-- <td class="text-center">40 | 0 | 60</td> -->
              </tr>

            </tbody>
          </table>


        </div>
      </div>
    </div>
  </div>
</div>
