<div id="company-header">
  <div class="main-color topbar-secondary" id="header-container">
    <div>
      <div class="container">
        <div class="row margin-bottom">
          <div class="col-sm-3">
            <h2>AAC Technologies Inc.</h2>
            <div class="margin-top-half">Technology Hardware, Storage &amp; Peripherals</div>
            <div>32,172 Employees</div>

            <div class="text-center">
              <div class="margin-top">
                <a href="#" class="btn btn-white btn-sm btn-round">Begin Engagement</a>
              </div>
              <div class="margin-top-half">
                <a href="#" class="text-white1 thin small">ADD TO WATCHLIST</a>
              </div>
            </div>
          </div>

          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-11">
                        <h4 class="no-margin">ESG Exposure</h4>
                        <div class="ratings">
                          <div class="left pull-left">
                            <span class="big-number text-white1 thin">5.68</span>
                          </div>
                          <div class="right">
                            <div class="pull-left label-small">Low</div>
                            <div class="pull-right label-small">High</div>

                            <div class="clearfix">&nbsp;</div>

                            <div class="bars">
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-adjustedBaseline" role="progressbar" aria-valuenow="56.8" aria-valuemin="0" aria-valuemax="100" style="width: 56.8%">
                                  <span class="sr-only">56.8</span>
                                </div>
                              </div>
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="53.4" aria-valuemin="0" aria-valuemax="100" style="width: 53.4%">
                                  <span class="sr-only">53.4</span>
                                </div>
                              </div>
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-transparent" role="progressbar" aria-valuenow="53.4" aria-valuemin="0" aria-valuemax="100" style="width: 53.4%">
                                  <span class="sr-only">53.4</span>
                                </div>
                                <div class="progress-bar  progress-bar-red1 " role="progressbar" aria-valuenow="3.3999999999999986" aria-valuemin="0" aria-valuemax="100" style="width: 3.3999999999999986%">
                                  <span class="sr-only">3.3999999999999986</span>
                                </div>
                              </div>
                            </div>

                            <div class="pull-left label-small">
                              <span class="text-white1 label-large">5.34</span>
                              <span class="label-xs"><i class="fa fa-square"></i></span>
                              <div style="display:inline-flex;">Market
                                <br>Risk</div>
                            </div>
                            <div class="pull-right label-small">
                              <span class="text-white1 label-large">+6.00%</span>
                              <span class="label-xs"><i class=" text-red1  fa fa-square"></i></span>
                              <div style="display:inline-flex;">Risk
                                <br>Premium</div>
                            </div>

                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-11">
                        <h4 class="no-margin">ESG Management</h4>
                        <div class="margin-top">
                          <div class="ratings">
                            <div class="left pull-left">
                              <span class="big-number text-white1 thin">
                                            57.4
                                          </span>
                            </div>
                            <div class="right">
                              <div class="pull-left label-small">Low</div>
                              <div class="pull-right label-small">High</div>

                              <div class="clearfix">&nbsp;</div>

                              <div class="bars">
                                <div class="progress progress-xs transparent">
                                  <div class="progress-bar progress-bar-management" role="progressbar" aria-valuenow="57.4" aria-valuemin="0" aria-valuemax="100" style="width: 57.4%">
                                    <span class="sr-only">57.4</span>
                                  </div>
                                </div>
                                <div class="progress progress-xs transparent">
                                  <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="33.9" aria-valuemin="0" aria-valuemax="100" style="width: 33.9%">
                                    <span class="sr-only">33.9</span>
                                  </div>
                                </div>
                              </div>

                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-transparent" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                  <span class="sr-only">0</span>
                                </div>
                              </div>

                              <div class="pull-left label-small">
                                <span class="text-white1 label-large">33.9</span>
                                <span class="label-xs"><i class="fa fa-square"></i></span>
                                <div style="display:inline-flex;">Peer
                                  <br>Benchmark</div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix">&nbsp;</div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-3">
                <h4 class="no-margin">Highest Controversy</h4>
                <div class="margin-top">
                  <div class="ratings">
                    <div class="left pull-left" style="width:54px;">
                      <span class="big-number text-white1 thin">2</span>
                    </div>
                    <div class="right">
                      <div class="label-small margin-top-half">Category</div>
                      <div class="label-medium">Moderate</div>

                      <div class="margin-top-double small">
                        LOCATION: Oregon, USA<br />
                        DATE: April 17, 2016
                      </div>
                    </div>
                  </div>
                  <div class="clearfix">&nbsp;</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="company-details" class="container has-secondary-topbar" style="margin-top: 239px;">

  <div class="margin-top-double margin-bottom-double">
    <div class="text-center">
      <div class="btn-toolbar">
        <button type="button" data-exposure-type="overview" class="btn btn-round btn-none">Company Overview</button>
        <button type="button" data-exposure-type="exposure" class="btn btn-round btn-none">ESG Exposure</button>
        <button type="button" data-exposure-type="management" class="btn btn-round btn-none active">ESG Management</button>
        <button type="button" data-exposure-type="controversies" class="btn btn-round btn-none">Controversies</button>
      </div>
    </div>
  </div>

  <div id="company-management">
    <div>
      <div class="row">
        <div class="col-sm-8">
          <h2>ESG Management Overview</h2>
          <p>The ESG Management Assessment helps to evaluate how prepared a company is to manage ESG risks effectively, based on the extent to which relevant policies, programmes and management systems are in place.</p>
        </div>
      </div>

      <div class="row margin-top-double">
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <th>Theme</th>
                <th class="col-sm-3 text-center">Score</th>
                <th class="col-sm-3 text-center">Benchmark</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fa fa-circle text-E"></i>&nbsp; Environmental</td>
                <td class="text-center">5</td>
                <td class="text-center">2.33</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle text-S"></i>&nbsp; Social</td>
                <td class="text-center">0.5</td>
                <td class="text-center">2.91</td>
              </tr>
              <tr>
                <td><i class="fa fa-circle text-G"></i>&nbsp; Governance</td>
                <td class="text-center">0</td>
                <td class="text-center">5.37</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 text-center">
          <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
              <div class="ratings margin-top-double">
                <div class="right">
                  <div class="pull-left label-small">0</div>
                  <div class="pull-right label-small">10</div>

                  <div class="clearfix">&nbsp;</div>

                  <div class="bars management">
                    <div class="progress progress-xs transparent esg E">
                      <div class="progress-bar progress-bar-environmental" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50</span>
                      </div>
                    </div>
                    <div class="progress progress-xs transparent benchmark E">
                      <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="23.3" aria-valuemin="0" aria-valuemax="100" style="width: 23.3%">
                        <span class="sr-only">23.3</span>
                      </div>
                    </div>
                    <div class="progress progress-xs transparent esg S">
                      <div class="progress-bar progress-bar-social" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                        <span class="sr-only">5</span>
                      </div>
                    </div>
                    <div class="progress progress-xs transparent benchmark S">
                      <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="29.1" aria-valuemin="0" aria-valuemax="100" style="width: 29.1%">
                        <span class="sr-only">29.1</span>
                      </div>
                    </div>
                    <div class="progress progress-xs transparent esg G">
                      <div class="progress-bar progress-bar-governance" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only">0</span>
                      </div>
                    </div>
                    <div class="progress progress-xs transparent benchmark G">
                      <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="53.7" aria-valuemin="0" aria-valuemax="100" style="width: 53.7%">
                        <span class="sr-only">53.7</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix">&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <h4 class="legend no-margin">Indicator Distribution</h4>
          <div id="indicator-distribution-chart" data-highcharts-chart="1">
            <div class="highcharts-container" id="highcharts-2" style="position: relative; overflow: hidden; width: 218px; height: 160px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <svg version="1.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="218" height="160">
                <desc>Created with Highcharts 4.1.9</desc>
                <defs>
                  <clipPath id="highcharts-3">
                    <rect x="0" y="0" width="218" height="150"></rect>
                  </clipPath>
                </defs>
                <rect x="0" y="0" width="218" height="160" strokeWidth="0" fill="#FFFFFF" class=" highcharts-background"></rect>
                <g class="highcharts-series-group" zIndex="3">
                  <g class="highcharts-series highcharts-series-0 highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(0,10) scale(1 1)" style="">
                    <path fill="#7CC94C" d="M 108.98676124175981 10.000001348190168 A 65 65 0 0 1 147.1785755207851 22.39395119186664 L 139.54286041662806 32.91516095349331 A 52 52 0 0 0 108.98940899340785 23.00000107855213 Z" stroke="#FFFFFF" stroke-width="1"
                      stroke-linejoin="round" transform="translate(0,0)"></path>
                    <path fill="#FD9231" d="M 147.2311624715394 22.432156064046538 A 65 65 0 0 1 70.85260834594914 127.62866623801568 L 78.48208667675931 117.10293299041254 A 52 52 0 0 0 139.5849299772315 32.94572485123723 Z" stroke="#FFFFFF" stroke-width="1"
                      stroke-linejoin="round" transform="translate(0,0)"></path>
                    <path fill="#33ACE0" d="M 70.79999876217681 127.5904925383886 A 65 65 0 0 1 108.90971630402535 10.000062701151464 L 108.92777304322027 23.00005016092117 A 52 52 0 0 0 78.43999900974146 117.07239403071088 Z" stroke="#FFFFFF"
                      stroke-width="1" stroke-linejoin="round" transform="translate(0,0)"></path>
                  </g>
                  <g class="highcharts-markers highcharts-series-0" visibility="visible" zIndex="0.1" transform="translate(0,10) scale(1 1)"></g>
                </g>
                <text x="109" text-anchor="middle" class="highcharts-title" zIndex="4" style="color:#333333;font-size:18px;fill:#333333;width:154px;" y="24">
                  <tspan>Chart title</tspan>
                </text>
                <g class="highcharts-data-labels highcharts-series-0 highcharts-tracker" visibility="visible" zIndex="6" transform="translate(0,10) scale(1 1)" opacity="1" style="">
                  <path fill="none" d="M 134.70413862312148 11.279213408224713 C 129.70413862312148 11.279213408224713 129.7041386231215 11.279213408224713 129.39512162874655 12.230269924519867 L 129.0861046343716 13.18132644081502" stroke="white" stroke-width="1"></path>
                  <path fill="none" d="M 168.20413862312148 114.3816119035957 C 163.20413862312148 114.3816119035957 163.2041386231215 114.38161190359571 162.39512162874655 113.79382665130323 L 161.5861046343716 113.20604139901076" stroke="white"
                    stroke-width="1"></path>
                  <path fill="none" d="M 40.279213408224706 54.295861376878534 C 45.279213408224706 54.295861376878534 45.279213408224706 54.29586137687853 46.23026992451986 54.60487837125348 L 47.18132644081501 54.91389536562843" stroke="white"
                    stroke-width="1"></path>
                  <g zIndex="1" style="" transform="translate(140,1)"></g>
                  <g zIndex="1" style="" transform="translate(173,104)"></g>
                  <g zIndex="1" style="" transform="translate(23,44)"></g>
                </g>
                <g class="highcharts-legend" zIndex="7">
                  <g zIndex="1">
                    <g></g>
                  </g>
                </g>
                <g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;pointer-events:none;white-space:nowrap;" transform="translate(0,-9999)">
                  <path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.049999999999999996"
                    stroke-width="5" transform="translate(1, 1)"></path>
                  <path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.09999999999999999"
                    stroke-width="3" transform="translate(1, 1)"></path>
                  <path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.15"
                    stroke-width="1" transform="translate(1, 1)"></path>
                  <path fill="rgba(249, 249, 249, .85)" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"></path>
                  <text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="20"></text>
                </g>
              </svg>
              <div class="highcharts-data-labels highcharts-series-0" style="position: absolute; left: 0px; top: 10px; visibility: visible; opacity: 1;">
                <div style="position: absolute; left: 140px; top: 1px; visibility: inherit;"><span style="position: absolute; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif; font-size: 11px; white-space: nowrap; font-weight: normal; color: rgb(0, 0, 0); margin-left: 0px; margin-top: 0px; left: 5px; top: 5px;"
                    zindex="1">1</span></div>
                <div style="position: absolute; left: 173px; top: 104px; visibility: inherit;"><span style="position: absolute; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif; font-size: 11px; white-space: nowrap; font-weight: normal; color: rgb(0, 0, 0); margin-left: 0px; margin-top: 0px; left: 5px; top: 5px;"
                    zindex="1">5</span></div>
                <div style="position: absolute; left: 23px; top: 44px; visibility: inherit;"><span style="position: absolute; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif; font-size: 11px; white-space: nowrap; font-weight: normal; color: rgb(0, 0, 0); margin-left: 0px; margin-top: 0px; left: 0px; top: 5px;"
                    zindex="1">4</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <a href="#" class="widget-toggle-link" data-target="assessment">
            <h2><i class="circle-icon ti-plus"></i>&nbsp; ESG Management Assessment</h2>
          </a>
        </div>
      </div>
      <div class="widget no-margin margin-bottom-double" data-id="assessment">
        <div class="widget-content" style="display:none;">
          <div class="row">
            <div class="col-sm-8">
              <p class="margin-bottom-double" style="padding-left:26px;">The assessment includes a mix of core and industry-specific indicators emphasising the main ESG issues facing an industry. The Peer Benchmark, developed from Sustainalytics research universe, represents the average performance of small and
                mid-cap public companies operating in the industry.</p>
            </div>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th class="col-sm-3">
                  Indicator
                </th>
                <th class="col-sm-1 text-center">
                  Score
                </th>
                <th class="col-sm-1 text-center">
                  <span class="popover-text" tabindex="0" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="Benchmark Comparison" data-content="The benchmark provides an assessment of performance relative to mid-and-small cap public companies from Sustainalytics’ research universe. Users can view average performance at the indicator level for public companies operating in the same sub-sector or country.">
              Benchmark
            </span>
                </th>
                <th class="col-sm-3">
                  Analysis
                </th>
                <th class="col-sm-3">
                  Company Comments
                </th>
                <th class="col-sm-1">
                  Documents
                </th>
              </tr>
            </thead>

            <tbody id="indicators-container">
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-E circle">1</span>
                    </div>
                    <div class="col-xs-10">
                      Environmental Policy
                      <div>E.1.1</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">5</td>
                <td class="text-center">
                  4.4
                </td>
                <td>
                  The company has an adequate environmental policy.
                  <p class="margin-top">Includes:</p>
                  <ul class="list">
                    <li>A commitment to continuous improvement in pollution prevention and resource efficiency.</li>
                  </ul>
                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-S circle">2</span>
                    </div>
                    <div class="col-xs-10">
                      Discrimination Policy
                      <div>S.1.2</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">2.5</td>
                <td class="text-center">
                  3.92
                </td>
                <td>
                  The company takes some initiatives to protect against discrimination, but it does not have a formal policy.
                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-S circle">3</span>
                    </div>
                    <div class="col-xs-10">
                      Social Supplier Standards
                      <div>S.2.1</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  3.93
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-S circle">4</span>
                    </div>
                    <div class="col-xs-10">
                      Conflict Minerals Policy
                      <div>S.2.1.3</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  0.92
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-S circle">5</span>
                    </div>
                    <div class="col-xs-10">
                      Supply Chain Audits
                      <div>S.2.2.1</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  0.6
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-S circle">6</span>
                    </div>
                    <div class="col-xs-10">
                      Electromagnetic Safety Programmes
                      <div>S.3.1.4</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  4.07
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-G circle">7</span>
                    </div>
                    <div class="col-xs-10">
                      Bribery and Corruption Policy
                      <div>G.1.1</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  6.61
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-G circle">8</span>
                    </div>
                    <div class="col-xs-10">
                      Whistleblower Programme
                      <div>G.1.2</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  4.52
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-G circle">9</span>
                    </div>
                    <div class="col-xs-10">
                      ESG Reporting Standards
                      <div>G.2.1</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  3.87
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-2 text-center">
                      <span class="label label-G circle">10</span>
                    </div>
                    <div class="col-xs-10">
                      ESG Governance
                      <div>G.2.5</div>
                    </div>
                  </div>
                </td>
                <td class="text-center">0</td>
                <td class="text-center">
                  6.47
                </td>
                <td>

                </td>
                <td></td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
