<div id="company-header">
  <div class="main-color topbar-secondary" id="header-container">
    <div>
      <div class="container">
        <div class="row margin-bottom">
          <div class="col-sm-3">
            <h2>AAC Technologies Inc.</h2>
            <div class="margin-top-half">Technology Hardware, Storage &amp; Peripherals</div>
            <div>32,172 Employees</div>

            <div class="text-center">
              <div class="margin-top">
                <a href="#" class="btn btn-white btn-sm btn-round">Begin Engagement</a>
              </div>
              <div class="margin-top-half">
                <a href="#" class="text-white1 thin small">ADD TO WATCHLIST</a>
              </div>
            </div>
          </div>

          <div class="col-sm-9">
            <div class="row">
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-11">
                        <h4 class="no-margin">ESG Exposure</h4>
                        <div class="ratings">
                          <div class="left pull-left">
                            <span class="big-number text-white1 thin">5.68</span>
                          </div>
                          <div class="right">
                            <div class="pull-left label-small">Low</div>
                            <div class="pull-right label-small">High</div>

                            <div class="clearfix">&nbsp;</div>

                            <div class="bars">
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-adjustedBaseline" role="progressbar" aria-valuenow="56.8" aria-valuemin="0" aria-valuemax="100" style="width: 56.8%">
                                  <span class="sr-only">56.8</span>
                                </div>
                              </div>
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="53.4" aria-valuemin="0" aria-valuemax="100" style="width: 53.4%">
                                  <span class="sr-only">53.4</span>
                                </div>
                              </div>
                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-transparent" role="progressbar" aria-valuenow="53.4" aria-valuemin="0" aria-valuemax="100" style="width: 53.4%">
                                  <span class="sr-only">53.4</span>
                                </div>
                                <div class="progress-bar  progress-bar-red1 " role="progressbar" aria-valuenow="3.3999999999999986" aria-valuemin="0" aria-valuemax="100" style="width: 3.3999999999999986%">
                                  <span class="sr-only">3.3999999999999986</span>
                                </div>
                              </div>
                            </div>

                            <div class="pull-left label-small">
                              <span class="text-white1 label-large">5.34</span>
                              <span class="label-xs"><i class="fa fa-square"></i></span>
                              <div style="display:inline-flex;">Market
                                <br>Risk</div>
                            </div>
                            <div class="pull-right label-small">
                              <span class="text-white1 label-large">+6.00%</span>
                              <span class="label-xs"><i class=" text-red1  fa fa-square"></i></span>
                              <div style="display:inline-flex;">Risk
                                <br>Premium</div>
                            </div>

                          </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-11">
                        <h4 class="no-margin">ESG Management</h4>
                        <div class="margin-top">
                          <div class="ratings">
                            <div class="left pull-left">
                              <span class="big-number text-white1 thin">
                                            57.4
                                          </span>
                            </div>
                            <div class="right">
                              <div class="pull-left label-small">Low</div>
                              <div class="pull-right label-small">High</div>

                              <div class="clearfix">&nbsp;</div>

                              <div class="bars">
                                <div class="progress progress-xs transparent">
                                  <div class="progress-bar progress-bar-management" role="progressbar" aria-valuenow="57.4" aria-valuemin="0" aria-valuemax="100" style="width: 57.4%">
                                    <span class="sr-only">57.4</span>
                                  </div>
                                </div>
                                <div class="progress progress-xs transparent">
                                  <div class="progress-bar progress-bar-darkgray" role="progressbar" aria-valuenow="33.9" aria-valuemin="0" aria-valuemax="100" style="width: 33.9%">
                                    <span class="sr-only">33.9</span>
                                  </div>
                                </div>
                              </div>

                              <div class="progress progress-xs transparent">
                                <div class="progress-bar progress-bar-transparent" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                  <span class="sr-only">0</span>
                                </div>
                              </div>

                              <div class="pull-left label-small">
                                <span class="text-white1 label-large">33.9</span>
                                <span class="label-xs"><i class="fa fa-square"></i></span>
                                <div style="display:inline-flex;">Peer
                                  <br>Benchmark</div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix">&nbsp;</div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-3">
                <h4 class="no-margin">Highest Controversy</h4>
                <div class="margin-top">
                  <div class="ratings">
                    <div class="left pull-left" style="width:54px;">
                      <span class="big-number text-white1 thin">2</span>
                    </div>
                    <div class="right">
                      <div class="label-small margin-top-half">Category</div>
                      <div class="label-medium">Moderate</div>

                      <div class="margin-top-double small">
                        LOCATION: Oregon, USA<br />
                        DATE: April 17, 2016
                      </div>
                    </div>
                  </div>
                  <div class="clearfix">&nbsp;</div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="company-details" class="container has-secondary-topbar" style="margin-top: 239px;">

  <div class="margin-top-double margin-bottom-double">
    <div class="text-center">
        <div class="btn-toolbar">
          <button type="button" data-exposure-type="overview" class="btn btn-round btn-none active">Company Overview</button>
          <button type="button" data-exposure-type="exposure" class="btn btn-round btn-none">ESG Exposure</button>
          <button type="button" data-exposure-type="management" class="btn btn-round btn-none">ESG Management</button>
          <button type="button" data-exposure-type="controversies" class="btn btn-round btn-none">Controversies</button>
        </div>
    </div>
  </div>

  <div id="company-exposure">
    <div class="margin-top-double">
      <h2>Company Information</h2>
      <div class="row">
        <div class="col-sm-4">
          <div class="legend">Company Type</div>
          <p class="margin-bottom">Public</p>

          <div class="legend">Headquarters</div>
          <div class="margin-bottom">
            <p>Block A Nanjing University Research Center Shenzhen Branch, Shenzhen, No. 6 Yuexing 3rd Road, South Hi-Tech Industrial Park, Nanshan District, 518057, China</p>
            <p>
              P: 86 755 3397 2018
              <br /> P: 86 852 3470 0103
            </p>
            <p><a href="http://www.aactechnologies.com" target="_blank">http://www.aactechnologies.com</a></p>
          </div>

          <div class="legend">Market Cap</div>
          <p class="margin-bottom">USD millions 16,227</p>

          <div class="hidden">
            <div class="legend">Assets</div>
            <p class="margin-bottom">China (100%)</p>

            <div class="legend">Revenue</div>
            <p class="margin-bottom">
              China (23%)
              <br /> Europe (8%)
              <br /> Corporate (40%)
            </p>
          </div>

          <div class="legend">Microsoft Contact</div>
          <p class="margin-bottom">
            John Smith
            <br />
            <em>Client Manager</em>
            <br /> js@aac.com
          </p>
        </div>
        <div class="col-sm-8">
          <div class="legend">Summary</div>
          <p>AAC Technologies Holdings Inc., an investment holding company, designs, develops, and manufactures a range of miniaturized acoustic and non-acoustic components worldwide. The company conducts its operations through Dynamic Components, Micro
            Electro-Mechanical System Components, Haptics and Radio Frequency, and Other Products segments. Its acoustic components include speakers, receivers, and microphones; and non-acoustic components comprise haptics vibrators, radio frequency products
            and antennas, and optical lenses. The company also provides a range of technology solutions integrating acoustic and non-acoustic designs; speaker boxes, headsets, VCMs, ceramic decorative components, etc.; near field communication solutions;
            precision components for acoustic products; electronics related accessories and components; tooling components; and electroplating services. Its products are used in mobile devices, including smartphones, tablets, wearables, ultrabooks, notebooks,
            electronic book-readers, and other consumer electronics products. AAC Technologies Holdings Inc. serves various customers in the consumer electronics market. The company was formerly known as AAC Acoustic Technologies Holdings Inc. and changed
            its name to AAC Technologies Holdings Inc. in May 2011. AAC Technologies Holdings Inc. was founded in 1993 and is headquartered in Shenzhen, China.</p>

            <hr />

            <div class="row">
              <div class="col-sm-6">
                <div class="legend">Assets</div>
                <div id="assets"></div>
              </div>
              <div class="col-sm-6">
                <div class="legend">Revenue</div>
                <div id="revenue"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
